<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragment/head :: head"></head>
<body class="blue-background">
<div th:insert="fragment/header :: header"></div>
<section class="white-background">
    <div class="container pt-4 pb-4">
        <div class="row justify-content-center" id="content-body">
            <div class="background-content col-lg-3 col-md-12 col-sm-12 mr-3 pt-5 smaller-font profile-left"
                 th:include="fragment/profile :: profile"></div>
            <div class="background-content col-lg-8 col-md-12 col-sm-12 p-5 smaller-font profile-right"
                 id="content-body-right">
                <h2 class="text-center pt-4" style="color: #60a6e4">CRF™ Ranking Pattern</h2>
                <hr>
                <div class="container p-0">
                    <div>
                        <ul>
                            <li>Apply for Period: <b
                                    th:text="${competencyRankingPatterns.periodPattern.name} + '-' + ${competencyRankingPatterns.periodPattern.year}"></b>
                            </li>
                            <li>CRF™ Ranking Pattern: <b
                                    th:text="${competencyRankingPatterns.jobRoles.domains.domainName}"></b></li>
                            <li>CRF™ Ranking Role: <b th:text="${competencyRankingPatterns.jobRoles.jobRoleName}"></b>
                            </li>
                            <li>Created: <b
                                    th:text="${#dates.format(competencyRankingPatterns.created, 'dd/MM/yyyy')}"></b>
                            </li>
                        </ul>
                    </div>
                    <p class="text-center">
                        <span th:each="components,stat : ${patternSummaryDTOList}">
                            ---<a
                                class="dot-non-hover"
                                th:href="@{'/profile-pattern/new-profile-pattern/'+ ${competencyRankingPatterns.competencyPatternId}+'/'+${components.competencyComponents.componentId} +'/' + ${stat.index+1}}"
                                th:title="${components.competencyComponents.componentName}"><span
                                th:if="${pageIndex == (stat.index+1)}">🔴</span>
                                                                                               <span th:if="${components.status != 'Completed' && pageIndex != (stat.index+1)}">⭕</span>
                                                                                               <span th:if="${components.status == 'Completed' && pageIndex != (stat.index+1)}">🔘</span></a>
                            <!--                        -&#45;&#45;<a th:href="@{'/profile-pattern/new-profile-pattern/'+ ${competencyRankingPatterns.competencyPatternId}+'/'+${components.componentId} +'/' + ${stat.index+1}}"-->
                            <!--                              class="dot-non-hover" th:title="${components.componentName}"><span th:if="${pageIndex == (stat.index+1)}">🔴</span>-->
                            <!--                                                                                               <span th:if="${pageIndex > (stat.index+1)}">🔵</span>-->
                            <!--                                                                                               <span th:if="${pageIndex < (stat.index+1)}">🔘</span></a>-->
                        </span>
                        <span>---<a
                                class="dot-non-hover"
                                th:href="@{'/profile-pattern/new-profile-pattern/profile-summary/' + ${competencyRankingPatterns.competencyPatternId}}"
                                title="Profile Ranking Summary">🔘</a> ---</span>
                    </p>
                    <form method="post" th:action="@{'/profile-pattern/new-profile-pattern/save-component'}"
                          th:object="${rankingPatternDetailsListWrapper}">
                        <input name="pageIndex" th:value="${pageIndex}" type="hidden">
                        <input name="patternId"
                               th:value="${rankingPatternDetailsListWrapper.competencyRankingPatternDetailsList.get(0).competencyRankingPatterns.competencyPatternId}"
                               type="hidden">
                        <table border="0" class="col-12 mb-2 smaller-font table-profile table-striped-custom"
                               style="width:100%;">
                            <thead>
                            <tr>
                                <th class="pl-3" style="width: 30%"
                                    th:text="${rankingPatternDetailsListWrapper.competencyRankingPatternDetailsList.get(0).competencyComponentDetails.competencyComponents.componentName}"></th>
                                <th class="text-center p-3" style="width: 13%">R.Weight(%)</th>
                                <th class="text-center" style="width: 20%;">Evidence</th>
                                <th class="text-center" style="width: 20%">Maximum Level</th>
                                <th class="text-center" style="width: 12%"
                                    th:style="${rankingPatternDetailsListWrapper.competencyRankingPatternDetailsList.get(0).competencyComponentDetails.competencyComponents.componentName == 'Responsibilities and Roles' or rankingPatternDetailsListWrapper.competencyRankingPatternDetailsList.get(0).competencyComponentDetails.competencyComponents.componentName == 'Business Contributions' or rankingPatternDetailsListWrapper.competencyRankingPatternDetailsList.get(0).competencyRankingPatterns.competencyRankingProfilesList.size() > 0 or rankingPatternDetailsListWrapper.competencyRankingPatternDetailsList.size() == 1}? 'display: none'">
                                    Action
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="rankingPatternDetails,stat : ${rankingPatternDetailsListWrapper.competencyRankingPatternDetailsList}">
                                <td class="pl-3"
                                    th:style="${rankingPatternDetails.rankingLevelRequirementPatterns.proficiencyLevels == null}? 'color:gray'"
                                    th:text="${rankingPatternDetails.competencyComponentDetails.componentDetailName}"></td>
                                <td class="text-center">
                                    <span class="align-center"
                                          th:field="*{competencyRankingPatternDetailsList[__${stat.index}__].rankingWeight}"
                                          th:text="*{competencyRankingPatternDetailsList[__${stat.index}__].rankingWeight}" type="number"></span>
                                    <input name="componentDetailId" th:value="${rankingPatternDetails.competencyPatternDetailId}"
                                           type="hidden">
                                </td>
                                <td class="text-center">
                                    <select th:field="*{competencyRankingPatternDetailsList[__${stat.index}__].evidenceTypes}">
                                        <option value="Optional">Optional</option>
                                        <option value="Required">Required</option>
                                    </select>
                                </td>
                                <td class="text-center">
                                    <select style="width: 100%" th:name="level">
                                        <option th:each="proficiencyLevels : *{competencyRankingPatternDetailsList[__${stat.index}__].competencyComponentDetails.proficiencyLevelTypes.proficiencyLevelsList}"
                                                th:selected="*{competencyRankingPatternDetailsList[__${stat.index}__].rankingLevelRequirementPatterns.proficiencyLevels != null}? (${proficiencyLevels.proficiencyLevelId} == *{competencyRankingPatternDetailsList[__${stat.index}__].rankingLevelRequirementPatterns.proficiencyLevels.proficiencyLevelId}): 0"
                                                th:text="${proficiencyLevels.proficiencyLevelName}"
                                                th:value="${proficiencyLevels.proficiencyLevelId}"></option>
                                    </select>
                                </td>
                                <td class="text-center"
                                    th:style="${rankingPatternDetailsListWrapper.competencyRankingPatternDetailsList.get(0).competencyComponentDetails.competencyComponents.componentName == 'Responsibilities and Roles' or rankingPatternDetailsListWrapper.competencyRankingPatternDetailsList.get(0).competencyComponentDetails.competencyComponents.componentName == 'Business Contributions' or rankingPatternDetailsListWrapper.competencyRankingPatternDetailsList.get(0).competencyRankingPatterns.competencyRankingProfilesList.size() > 0 or rankingPatternDetailsListWrapper.competencyRankingPatternDetailsList.size() == 1}? 'display: none'">
                                    <a th:href="@{'/profile-pattern/new-profile-pattern/deletePatternDetails/' + ${competencyRankingPatterns.competencyPatternId} + '/' + ${rankingPatternDetails.competencyComponentDetails.competencyComponents.componentId} + '/'+ ${rankingPatternDetails.competencyComponentDetails.componentDetailId} +'/' + ${pageIndex}}">
                                        <img class="mini-icon2" onclick="deletePatternDetails()" src="/icons/delete.png"
                                             title="Delete">
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="smaller-font mb-2 mt-3 search-profiles"
                             th:style="${competencyComponentDetailsListRemain.size() == 0 or rankingPatternDetailsListWrapper.competencyRankingPatternDetailsList.get(0).competencyRankingPatterns.competencyRankingProfilesList.size() > 0}? 'display:none'">
                            <div class="a-block">
                                <select th:name="componentDetailsRemain">
                                    <option th:each="competencyComponentDetailsRemain: ${competencyComponentDetailsListRemain}"
                                            th:text="${competencyComponentDetailsRemain.componentDetailName}"
                                            th:value="${competencyComponentDetailsRemain.getComponentDetailId()}">
                                    </option>
                                </select>
                            </div>
                            <div class="a-block"
                                 th:style="${rankingPatternDetailsListWrapper.competencyRankingPatternDetailsList.get(0).competencyRankingPatterns.competencyRankingProfilesList.size() > 0}? 'display: none'">
                                <button class="btn btn-primary ml-2"
                                        style="font-size: 100%; padding-top: 3px; margin-bottom: 5px" th:formaction="'/profile-pattern/new-profile-pattern/add-component-details-remain'"
                                        type="submit">
                                    Add Component
                                </button>
                            </div>
                        </div>
                        <div>
                            <span style="color: red"
                                  th:text="${errorDeletePatternDetails == 'true'}? 'The component must be remain at least one detail'"></span>
                        </div>
                        <div class="space-document"><i>You are now can save and finish member's CRF™ profile OR save
                            profile and continue to define components of Business Contributions page.</i></div>
                        <div class="mt-3 text-center">
                            <button class="btn btn-primary mr-2" id="btn-pattern" role="button"
                                    th:formaction="'/profile-pattern/new-profile-pattern/save-component-finish'"
                                    th:formmethod="post" type="submit">Save &amp; Finish
                            </button>
                            <button class="btn btn-primary mr-2"
                                    th:style="${pageIndex == competencyRankingPatterns.competencyComponentsList.size()}? 'display:none'"
                                    type="submit">
                                Save &amp; Continue
                            </button>
                            <a class="btn btn-primary a-block" href="/profile-pattern" role="button">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:insert="fragment/footer :: footer"></div>
<span th:if="${message != null}">
    <script th:inline="javascript">
        /*<![CDATA[*/
        let sms = /*[[${message}]]*/ 'default';
        window.alert(sms);
        /*]]>*/
    </script>
</span>
<script type="text/javascript">
    function saveConfirmDialog() {
        let result = confirm("Do you want to save this component?");
        let currentPage = document.getElementsByName("page").values();
        if (result) {
            return true;
        } else {
            return false;
        }
    }
</script>
</body>
</html>