<html class="desktop mbr-site-loaded" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="createAccountInfo">
    <h2 class="text-center" style="color: #60a6e4">Create New Account<br></h2>
    <hr>
    <p class="space-document">To use CRF™ Services, you need to create a
        CRF™ Account, account will allows you to use CRF™ services experience better.</p>
    <ul>
        <li>CRF™ is your fantastic hotline to CRF™ !</li>
        <li>Manage your professional profile conveniently.</li>
        <li>Renew and upgrade your credentials.</li>
        <li>Showcase CRF™ credential on LinkedIn, Facebook, and Twitter.</li>
    </ul>
    <div class="space-document mb-2">If you are new to CRF™ system, please register yourself to apply for our
        certifications.
    </div>
    <div class="text-center mt-2">
        <a class="btn btn-primary" href="/signup" role="button">Create Account</a>
    </div>
</th:block>