<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footer">
    <section class="blue-background common-color-text p-4">
        <div class="navbar p-1 row justify-content-between text-center">
            <div class="col-lg-3 col-md-12 col-sm-12">
                <div class="row">
                    <div class="pr-2 text-center col-lg-4 col-md-6 col-sm-12"><b><a href="#">CRF™</br>Foundation</a></b>
                    </div>
                    <div class="smaller-font pt-1 col-lg-8 col-md-6 col-sm-12">© Copyright 2020 CRF™ Foundation. All
                        Rights Reserved.
                    </div>
                </div>
                <div class="text-center row smaller-font">
                    <a class="text-white a-block col-lg-4 col-md-4 col-sm-12 p-0 mr-2" href="#">Terms of
                        Service</a><span class="text-white">|</span>
                    <a class="text-white a-block col-lg-4 col-md-4 col-sm-12 p-0" href="#">Privacy Policy</a><span
                        class="text-white">|</span>
                    <a class="text-white a-block col-lg-3 col-md-3 col-sm-12 p-0 pl-2" href="#">About Us</a>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 smaller-font space-document">Team are CRF™ - A non-profit EduTech
                Foundation.
                We believe that the methodologies and modern models as well as full packages of CRF™ Online Bootcamp
                will bring knowledge,
                skills and experiences to drive the growth of your career path what market labour needs to hire.
            </div>
            <div class="col-lg-2 col-md-12 col-sm-12">
                <a href="#"><img class="mini-icon" src="/images/facebook.png"></a>
                <a href="#"><img class="mini-icon" src="/images/twitter.png"></a>
                <a href="#"><img class="mini-icon" src="/images/youtube.png"></a>
            </div>
        </div>
    </section>
</div>
</html>