<html class="desktop mbr-site-loaded" xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="header">
    <section class="blue-background">
        <nav class="navbar navbar-expand p-1 top-navbar">
            <div class="navbar-nav">
                <a class="link-hover a-block p-2 ml-2" href="/signout"><img class="mini-icon" src="/icons/home.png"></a>
            </div>
            <div class="navbar-nav">
                <th:block th:if="${user.email != null}">
                    <div class="text-white pr-2 pt-2 pr-1">Welcome</div>
                    <a class="text-white link-hover a-block pt-2 pr-1" href="/my-account" style="display: inline-block"><b>[[${user.employees
                        != null ? user.employees.fullName : ''}]]</b></a>
                    <a class="link-hover a-block p-2" href="/signout" style="display: inline-block"><img
                            class="mini-icon" src="/icons/logout.png"></a>
                </th:block>
                <a class="link-hover a-block p-2 mr-2" href="/about-crf"><img class="mini-icon" src="/icons/infor.png"></a>
            </div>
        </nav>
    </section>
</div>
</html>