<!DOCTYPE html>
<html class="desktop mbr-site-loaded" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragment/head :: head"></head>
<body class="blue-background">
<div th:insert="fragment/header :: header"></div>
<section class="white-background">
    <div class="container pt-4 pb-4">
        <div class="row justify-content-center" id="whyhandsonproject">
            <div class="row justify-content-center smaller-font">
                <div class="background-content col-lg-4 col-sm-4 mr-3 pt-5">
                    <h2 class="text-center mb-4" style="color: #60a6e4">Welcome to - CRF™</h2>
                    <p class="space-document">CRF™ (Competency Rankings Framework) allows you
                        to build a database of job roles and required competencies and skill levels. With Instancy, you
                        can
                        also link competencies and skills to recommended learning for a powerful and complete competency
                        management system. CRF™ allows you to automate and personalize learning plans for each learner.
                        Focus your training to develop expertise in the shortest amount of time.</p>
                </div>
                <div class="background-content col-lg-6 col-sm-6 p-5">
                    <h2 class="text-center mb-4" style="color: #60a6e4">CRF™™ System will help you to achieve 3
                        objectives</h2>
                    <ul>
                        <li>➀ - Define the standardized and specialized job description based on career pathways of
                            specific business domain to meet the process of creating global quality products.
                        </li>
                        <li>➁- Assistance for staff in realizing what additional skills and knowledge are needed to
                            achieve the higher job rankings with career path within the next 1-2 years and so on.
                        </li>
                        <li>➂- Provide the transparency in workforce structure and allocation and the process the issues
                            of the manpower requirements for production units.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:insert="fragment/footer :: footer"></div>
</body>
</html>