<!DOCTYPE html>
<html class="desktop mbr-site-loaded" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragment/head :: head"></head>
<body class="blue-background">
<div th:insert="fragment/blankheader :: header"></div>
<section class="white-background">
    <div class="container pt-4 pb-4">
        <div class="row justify-content-center">
            <div class="background-content col-lg-4 col-md-12 col-sm-12 mr-3 pt-5 smaller-font profile-left"
                 th:insert="fragment/create-account-info :: createAccountInfo"></div>
            <div class="background-content col-lg-6 col-md-12 col-sm-12 p-5 profile-right">
                <h2 class="text-center" style="color: #60a6e4">Recover Account Password</h2>
                <hr>
                <p class="m-0 space-document">Recover your password using your email!</p>
                <form action="/recovery-password" class="smaller-font" method="post" th:object="${user}">
                    <div class="mt-1"><b>Email Address:</b></div>
                    <input class="mt-2 mb-3 p-1 width-300" id="email" name="email"
                           pattern="^([\w\.\-]+)@([\w\-]+)((\.(\w){2,3})+)$" required
                           th:value="${email}" title="Email is not correct type!"
                           type="email">
                    <div th:insert="fragment/recaptcha :: recaptcha"></div>
                    <button class="btn btn-primary" th:onclick="validatedCaptcha()" type="submit">Recover</button>
                    <hr>
                    <div class="pt-1">You have a CRF™ Account? <a class="btn btn-primary a-block ml-2" href="/signin"
                                                                  role="button">Sign-in</a></div>
                </form>
            </div>
        </div>
    </div>
</section>
<div th:insert="fragment/footer :: footer"></div>
<span th:if="${message != null}">
    <script th:inline="javascript">
        /*<![CDATA[*/
        let sms = /*[[${message}]]*/ 'default';
        window.alert(sms);
        /*]]>*/
    </script>
</span>
</body>
</html>
