<!DOCTYPE html>
<html class="desktop mbr-site-loaded" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragment/head :: head"></head>
<body class="blue-background">
<div th:insert="fragment/blankheader :: header"></div>
<section class="white-background">
    <div class="container pt-4 pb-4">
        <div class="row justify-content-center">
            <div class="background-content col-lg-4 col-md-11 col-sm-12 mr-3 pt-5 profile-left">
                <img src="/images/tech2.png" style="width: 100%">
            </div>
            <div class="background-content col-lg-6 col-md-11 col-sm-12 p-5 text-center profile-right">
                <h2 style="color: #60a6e4">Welcome to CRF™</h2>
                <p style="text-indent: 10px">This is an UI/UX CRF™ Website of
                    <a href="https://www.edxops.com/iCRF.htm" target="_blank"><b>Project System</b>
                    </a> Production-like Project for System® Hybrid Bootcamp Training Program.</p>
                <hr>
                <p>
                <div class="m-2">If you already have CRF™ account!</div>
                <a class="btn btn-primary a-block" href="/signin" role="button">Sign-In Now</a><br>
                <div class="m-2">Don’t have an Account yet?</div>
                <a class="btn btn-primary a-block" href="/signup" role="button">Create Account</a>
                </p>
                <hr>
            </div>
        </div>
    </div>
</section>
<div th:insert="fragment/footer :: footer"></div>
<span th:if="${message != null}">
    <script th:inline="javascript">
        /*<![CDATA[*/
        let sms = /*[[${message}]]*/ 'default';
        window.alert(sms);
        /*]]>*/
    </script>
</span>
</body>
</html>