<!DOCTYPE html>
<html class="desktop mbr-site-loaded" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragment/head :: head"></head>
<body class="blue-background">
<div th:insert="fragment/blankheader :: header"></div>
<section class="white-background">
    <div class="container pt-4 pb-4">
        <div class="row justify-content-center">
            <div class="background-content col-lg-4 col-md-4 col-sm-12 mr-3 pt-5 smaller-font profile-left"
                 th:insert="fragment/create-account-info :: createAccountInfor"></div>
            <div class="background-content col-lg-6 col-md-6 col-sm-12 p-5 smaller-font profile-right">
                <h2 class="text-center" style="color: #60a6e4">Recover Account Password</h2>
                <hr>
                <div class="space-document">Dear,</div>
                <div class="space-document">We received a request to reset the password for your CRF™ account. Your
                    request has sent to your mailbox.</br >
                    <div class="space-document">If you wish to reset your password, use the embedded link in your email
                        to confirm the request. Otherwise,
                        please ignore that email.
                    </div>
                </div>
                <div>IF You have a CRF™ Account?</div>
                <a class="btn btn-primary a-block mt-2" href="/signin" role="button">Sign-in</a>
            </div>
        </div>
    </div>
</section>
<div th:insert="fragment/footer :: footer"></div>
.
<span th:if="${message != null}">
    <script th:inline="javascript">
        /*<![CDATA[*/
        let sms = /*[[${message}]]*/ 'default';
        window.alert(sms);
        /*]]>*/
    </script>
</span>
</body>
</html>
